[user]
	name = harshit
	email = harshit@uber.com
[branch]
	autosetuprebase = always
[rerere]
	enabled = true
[alias]
	co = checkout
	com = checkout origin/master
	br = branch
	ci = commit
	rem = rebase origin/master
	st = status
	bdiff = "!f() { git diff `git merge-base origin/master HEAD`..HEAD; }; f"
[http "https://gopkg.uberinternal.com"]
	followRedirects = true
[http "https://gopkg.in"]
	followRedirects = true
